<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <link th:href="@{/static/assets/libs/summernote/summernote-bs4.css}" rel="stylesheet">
</head>
<body class="fixed-header dashboard menu-pin menu-behind">
<th:block th:replace="fragments/menu :: left"></th:block>
<div class="page-container">
    <th:block th:replace="fragments/top-bar :: topbar"></th:block>
    <div class="page-content-wrapper">
        <div class="content sm-gutter">
            <div class="container-fluid">
                <div class="page-title align-items-center">
                    <h4 class="mb-1 mt-2">Community</h4>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form method="post">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer ::footer"></th:block>
</div>
</div>

<th:block th:replace="fragments/common-script :: common-script"/>

</body>
</html>