<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="footer">
    <div class=" container-fluid  container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small-text no-margin pull-left sm-pull-reset">
                ©2014-2020 All Rights Reserved. Pages® and/or its subsidiaries or affiliates are registered
                trademark of Revox Ltd.
                <span class="hint-text m-l-15">Pages v05.23 20201105.r.190</span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
                Hand-crafted <span class="hint-text">&amp; made with Love</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</th:block>
</body>
</html>