<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta content="IE=Edge" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
        <meta content="포츈코인" name="description">
        <title>포츈코인</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">

<!--        <link rel="icon" type="image/x-icon" th:href="@{/assets/img/coin.png}" />-->

        <link rel="shortcut icon" th:href="@{/static/favicon/coin.png}"/>
        
        <link th:href="@{/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link th:href="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" media="screen" />
        <link th:href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" media="screen" />
        <link th:href="@{/assets/plugins/nvd3/nv.d3.min.css}" rel="stylesheet" type="text/css" media="screen" />
        <link th:href="@{/assets/plugins/mapplic/css/mapplic.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/plugins/rickshaw/rickshaw.min.css}" rel="stylesheet" type="text/css" />
        <link class="main-stylesheet" th:href="@{/pages/css/themes/corporate.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>
</html>
