<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="left">
    <nav class="page-sidebar" data-pages="sidebar">
        <div class="sidebar-header">
            <a class="detailed" th:href="@{/}">
                <img alt="" height="30" th:src="@{/static/assets/img/logo.png}"/>
            </a>
        </div>
        <div class="sidebar-menu">
            <ul class="menu-items">
                <li class="m-t-20 ">
                    <a th:href="@{/}" class="detailed">
                        <span class="title">DashBoard</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-icon mb-1">effects</i></span>
                </li>
                <li class="">
                    <a th:href="@{/manage/board/list}" class="detailed">
                        <span class="title">Community</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-icon mb-1">inbox</i></span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
</th:block>
</body>
</html>
