<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="topbar">
    <!-- START HEADER -->
    <div class="header ">
        <a href="#" class="btn-link toggle-sidebar d-lg-none pg-icon btn-icon-link" data-toggle="sidebar">
            menu</a>
        <div class="">
            <div class="brand inline   m-l-10">
                <img th:src="@{/static/assets/img/logo.png}" alt="logo" th:data-src="@{/static/assets/img/logo.png}"
                     th:data-src-retina="@{/static/assets/img/logo_2x.png}" width="78" height="22">
            </div>
        </div>

    </div>
</th:block>
</body>
</html>