<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body class="fixed-header dashboard menu-pin menu-behind">
<th:block th:replace="fragments/menu :: left"></th:block>
<div class="page-container">
    <th:block th:replace="fragments/top-bar :: topbar"></th:block>
    <div class="page-content-wrapper">
        <div class="content sm-gutter">
            <div class="container-fluid padding-25 sm-padding-10">
                <div class="row">
                    <div class="col-lg-4 col-xl-3 col-xlg-2 ">
                        <div class="row">
                            <div class="col-md-12 m-b-10">
                                fsdfasdfasfdasfsfqfdqw
                                <a th:text="${asdf}"></a>
                                <br>
                                fasd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer ::footer"></th:block>
    </div>
</div>

<th:block th:replace="fragments/common-script :: common-script"/>
</body>
</html>